jupyterlab
ipykernel
ipywidgets
datasets
torch # ==2.6.0+cu118, this is the version that works with my GPU
torchvision
torchaudio
transformers
peft
evaluate
trl
scikit-learn
python-dotenv
pathlib
bitsandbytes
sentencepiece
pyyaml